nav{
    background-color: wheat;
    border-width:10px;
    border-bottom:ridge;
    border-color:maroon
}
body{
    padding-top: 100px;
    display: flex;
    font-size: larger;
    justify-content: center;
}
#flexSwitchCheckChecked{
    height: 25px;
    width: 60px;
    margin-left: 0px;
    margin-top: 10px;
}
#buttons{
    width:200px;
    display: flex;
    justify-content: space-around;
}
#buttons button, img{
    border-radius: 100%;
}
